# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml

# Android
/android/.gradle
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/App.framework

# macOS
.DS_Store

# IDE
.vscode/
*.swp
*.swo
*~

# Tests
coverage/
